#bsa-footer .footer-bsa:first-child {
    color: #ec1848;
    
}
#bsa-footer .footer-bsa:nth-child(2) {
    color: #ffc712;
}
#bsa-footer .footer-bsa:last-child {
    color: #00adee;
}
#bsa-footer:hover {
    text-decoration: none;
}
#bsa-footer:hover :first-child {
    border-bottom: 2px solid #6fc0dd;
    border-top: 2px solid #6fc0dd;
}
#bsa-footer:hover :nth-child(2) {
    border-bottom: 2px solid #ec5f80;
    border-top: 2px solid #ec5f80;
}
#bsa-footer:hover :last-child {
    border-bottom: 2px solid #ebca60;
    border-top: 2px solid #ebca60;
} 
main:nth-last-child(2){
    margin-bottom: 50vh;
}
main {
    background: linear-gradient(to left bottom green red);
}