.bsa-link .letter-bsa:first-child {
    color: #ec1848;
}
.bsa-link .letter-bsa:nth-child(2) {
    color: #ffc712;
}
.bsa-link .letter-bsa:last-child {
    color: #00adee;
}
.bsa-link:hover {
    text-decoration: none;
}
.bsa-link:hover :first-child {
    border-bottom: 2px solid #6fc0dd;
    border-top: 2px solid #6fc0dd;
}
.bsa-link:hover :nth-child(2) {
    border-bottom: 2px solid #ec5f80;
    border-top: 2px solid #ec5f80;
}
.bsa-link:hover :last-child {
    border-bottom: 2px solid #ebca60;
    border-top: 2px solid #ebca60;
} 
main:nth-last-child(4){
    margin-bottom: 50vh;
}
main, header, footer {
    background: peachpuff linear-gradient(90deg,
    rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, .4) 50%
    ) center center / 2em;
}

@keyframes open-page {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes show-avatar {
    0% {
        opacity: 0;
        transform: scale(0, 0);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}
body main article .page {
    animation-name: open-page;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
.avatar {
    animation-name: show-avatar;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;    
}

.stackable.grid {
    position: relative;
}
/* *************************** */
.extra-feature {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 150px;
    height: 150px;
}

@keyframes wind-power {
    0% {    
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg); 
    }
}
@keyframes wind-power-racing {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes wind-power-racing-on {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#sunflower {
    animation-name: wind-power;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.spotlight {
    display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: radial-gradient(circle, transparent 100px, rgba(0, 0, 0, 1) 160px);
    z-index: 5;
    /* animation-name: wind-power-racing; */
    animation-duration: 2s;
    animation-timing-function: linear;
}
.child-spotlight {
    display: none;
    z-index: 6;
}
/* #extra-feature-bottom {
    background-color: red;
    border: 1px solid crimson;
    padding: 2px 5px;
    background-color: rgb(224, 226, 66);
    color: red;
    border-radius: 5px;
    cursor: pointer;
} */

/* html5book */
#extra-feature-bottom {
  padding: 2px 5px;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
  background-position: 100% 0;
  background-size: 200% 200%;
  color: white;
  box-shadow: 0 3px 5px 0 rgba(0,40,120,.35);
  transition: .5s;
  cursor: pointer;
  text-align: center !important;
}
#extra-feature-bottom:hover {
  box-shadow: 0 0 0 0 rgba(0,40,120,0);
  background-position: 0 0;
}