/* НОВАЯ ФИШКА ТУТ */
/* Добавить класс .spotlight элементу, который будем подсвечивать */
.spotlight {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(circle, transparent 100px, rgba(0, 0, 0, 0.85) 160px);
}
  